html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body {
  /* background: -webkit-linear-gradient(
    135deg,
    rgb(37, 231, 189) 0%,
    rgb(236, 82, 216) 100%
  ); */
  /* background-image: url("landingheader.jpg"); */
  background-color: #fffb62;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-weight: 500px;
  overflow: hidden;
}

/* body::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fffb62;
  transform-origin:left;
  transition:width 0.5s ease;
  z-index:-1;
}

body:hover::after {
  width: 110%;
} */

.top {
  margin-top: 15%;
}

h1 {
  font-size: 52px;
  /* color: rgb(226, 226, 226); */
  /* color: white; */
  /* background-image: url("bgimage15.jpg"); */
  color: #263141d3;

  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  text-align: center;
  transition: 0.5s;
  /* padding-top: -0%; */
  margin-bottom: -40px;
}

#name{
  color: #ff4b4b;

}

h1:hover {
  transform: scale(1.04);
}

a {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  text-decoration: none;
  margin-top: 0%;
  /* font-weight: thin; */
  z-index: 1000000;
}

.logo {
  position: fixed;
  width: 80px;
  height: 80px;
  opacity: 0.9;
  top: 80px;
  left: 50%;
  right: 50%;
  margin-left: -35px;
}

.textcontainer {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000000;
}

.circle1 {
  position: absolute;
  bottom:  -400px;
  right: 25%;
  left: ;
}
.circle2 {
  position: absolute;
  bottom: 500px;
  left: -400px;
}
.bg {
  z-index: 0;

  transform: translate(-50%, -50%);
  transform: scale(5);
}

.path {
  animation: draw 30s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
}
